body {
	background-color: #ffffff;
	background-image: url('../img/header_bg_w2000.jpg');
	background-repeat: repeat-x;
}

.play-status div.col-lg-3, .play-status div.col-lg-6 {
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
    height: 250px;
    margin-top: 25px;
    border: 1px solid rgba(170, 170, 170, 0.26);
    border-radius: 15px;
	color:#666;
	text-align:center;
}
.play-status div.col-lg-6 h2, .play-status div.col-lg-3 h3 {
	text-align:left;
}
.play-status div.col-lg-6 span {
	font-size:42px;
	line-height: 1.1em;
	padding-top: 15px;
	display: inline-block;
}

.play-status div.col-lg-3 span {
	font-size: 24px;
	line-height: 1.1em;
	padding-top: 15px;
	display: inline-block;
}

.play-status div.col-lg-6.middle {
    height: 300px;
    margin-top: 0;
    -webkit-box-shadow: 3px 7px 31px -7px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 7px 31px -7px rgba(0,0,0,0.25);
	box-shadow: 3px 7px 24px -7px rgba(0,0,0,0.25);
	z-index:2;
}
div.col-lg-3.left {
    border-right: 0;
    border-radius: 15px 0 0 15px;
    -webkit-box-shadow: 3px 7px 31px -7px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 7px 31px -7px rgba(0,0,0,0.25);
	box-shadow: 3px 7px 24px -7px rgba(0,0,0,0.25);
}
div.col-lg-3.right {
    border-left: 0;
    border-radius: 0 15px 15px 0;
    -webkit-box-shadow: 3px 7px 31px -7px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 7px 31px -7px rgba(0,0,0,0.25);
	box-shadow: 3px 7px 24px -7px rgba(0,0,0,0.25);
}

div.col-lg-3.right .small {
	margin-top:-10px;
}

div.container.play-status {
	margin-top: 70px;
}

.request-form {
	margin-top:30px;
}

.request-form label {
	margin-right:30px;
	text-align:left;
}

.request-form label.url-label {
	margin-left:30px;
}
input#url {
	width: 400px;
}

div#usersConnected {
	text-align: right;
}

.upcoming-title {
    margin-top:35px;
}

.play-status a, .play-status a:hover { color:#666;}

a span.ext-link.glyphicon.ext-link {
	font-size: .5em;
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
	line-height: .2;
}

a span.ext-link.glyphicon.smaller {
	top: -5;
	margin-left: 4px;
}

#skip-track {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#vote {
    font-size:18px;
    padding:0;
    cursor:pointer;
}

.skip-counter ul {
    padding: 0;
    margin-bottom: 0;
}

.skip-counter ul li {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    line-height:22px;
    padding: 3px;
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #aaa;
    display:inline-block;
}

.skip-counter ul li.active {
    background: #b5bdc8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #b5bdc8 0%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b5bdc8), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #b5bdc8 0%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #b5bdc8 0%,#28343b 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #b5bdc8 0%,#28343b 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #b5bdc8 0%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


